.box-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .box {
        position: absolute;
        transition: .3s;
        transform: translateX(-100%);
        &.show {
            transform: translateX(0);
        }
        .navbar {
            background: #f3f3f3;
            width: fit-content;
            position: relative;
            height: 100vh;
            padding: 4rem 3rem;
            flex-direction: column;
            .close-btn {
                position: absolute;
                top: 15px;
                right: 20px;
            }
            h1 {
                font: 1.8rem 'Oswald', sans-serif;
                font-weight: bold;
                color: #9c500f;
            }
            .navbar-nav {
                flex-direction: column;
                width: max-content;
                .nav-item {
                    margin: 0;
                    font-size: 1.2rem;
                    .nav-link {
                        color: #5d5d5d;
                        transition: .3s;
                        &:hover {
                            color: #a96536;
                        }
                    }
                    span {
                        transition: .3s;
                        cursor: pointer;
                        &.check {
                            transform: rotate(90deg);
                            transition: .3s;
                        }
                    }
                    .navbar__2 {
                        padding: 0;
                        .nav-link {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
    .menu-cpn__span {
        width: inherit;
        height: 100vh;
        background: #00000078;
    }
}