.payment-method {
    padding-top: 30px;
    h2 {
        text-align: center;
        font: 1.8rem 'Oswald', sans-serif;
        margin-bottom: 30px;
    }
    .row {
        width: 100%;
        margin: 0;
        .col-6 {
            &:first-child{
                padding: 2rem 4rem 2rem 14rem;
            }
            &:last-child {
                padding: 2rem 14rem 2rem 4rem;
                background: #f1f1f1;
            }
            h3 {
                font-size: 1.5rem;
            }
            .box-info {
                input {
                    margin-bottom: 10px;
                }
            }
            .btn-success {
                margin-top: 10px;
            }
            label {
                margin-left: 10px;
            }
            .list-products {
                padding: 0;
            }
            .total {
                text-align: end;
                span {
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}