.save-money {
    background: url('./lwr_subscription_storefront4.jpg');
    height: 400px;
    background-size: contain;
    padding: 50px 5rem;
    justify-content: flex-end;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 3.5rem;
        color: #5f3434;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.2rem;
        color: #5f3434;
    }
}
@media (max-width: 768px) {
    .save-money {
        background-size: cover;
        padding: 2rem;
        justify-content: center;
    }
}